{% extends "base.html" %}

{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
<!-- Block body page -->
    
    <!-- Block Business Agile section -->
    <section class="row home-section white">
        <div class="col text-md-center">
            <h1 class="section-title">Business Agile</h1>
            <h5>Partenaire de votre réussite technique</h5>
        </div>
    </section>
    
    
    <!-- Block Elsa section -->
    <div class="row section-border section-border-green">
        <div class="col-12 white"></div>
        <div class="col-12 green" id="elsa-section"></div>
    </div>
    <section class="row home-section green align-right">
        <div class="col-md-5 ml-md-auto">
            <h2 class="section-title">Elsa</h2>
            <h5>Restez concentré sur votre coeur de métier</h5>
            <p>Chaque jour vous effectuez des dizaines de petites tâches sans valeur mais absolument nécessaires.</p>
            <p>Nos assistants sont fait pour vous aider à traiter le plus efficacement possible afin de vous concentrer
            sur l'essentiel : votre métier.</p>
            <a href="https://elsa.pro/" type="a" class="green-btn btn btn-light">Assistant virtuel</a>
        </div>
        <div class="section-picture col-md-5 mr-md-auto">
            <img class="img-fluid" src="{% static 'img/elsa-connect.png' %}"/>
        </div>
    </section>


    <!-- Block facility management and Hosting section -->
    <div class="row section-border section-border-yellow align-left">
        <div class="col-12 green"></div>
        <div class="col-12 yellow" id="itmngt-section"></div>
    </div>
    <section class="row home-section yellow">
        <div class="section-picture col-md-5 ml-md-auto">
            <img class="img-fluid" src="{% static 'img/pic-itmngt.jpg' %}"/>
        </div>
        <div class="col-md-5 mr-md-auto">
            <h2 class="section-title">Infogérance Hébergement</h2>
            <h5>Une infrastructure à votre service</h5>
            <p>Nos experts systèmes sont là pour vous conseiller et construire avec vous l'infrastructure 
            la plus performante et sécurisée en fonction de votre budget et de vos besoins spécifiques.</p>
            <a href="#" type="a" class="btn btn-dark disabled">Découvrir</a>
        </div>
    </section>

    <!-- Block Developpement section -->
    <div class="row section-border section-border-orange">
        <div class="col-12 yellow"></div>
        <div class="col-12 orange" id="dev-section"></div>
    </div>
    <section class="row home-section orange align-right">
        <div class="col-md-5 ml-md-auto">
            <h2 class="section-title">Développement</h2>
            <h5>Donner vie à vos projets</h5>
            <p>Spécialisés en développement Python, nous travaillons avec notre réseau de partenaires
            afin de vous apporter toute l'expertise nécessaire à votre réussite.</p>
            <a href="#" type="a" class="btn btn-light disabled">Développement</a>
        </div>
        <div class="section-picture col-md-5 mr-md-auto">
    
        </div>
    </section>
{% endblock content %}
