@font-face {
    font-family: 'MarkMyWords';
    src: url('../font/mark_my_words/mark_my_words.otf') format('otf'),
         url('../font/mark_my_words/mark_my_words.ttf') format('truetype');
}

h1,
h2 {
	font-family: 'MarkMyWords', Arial, serif !important;
}

h5 {
	text-transform: uppercase;
	font-weight: 900 !important;
}

.btn {
	font-weight: 700 !important;
}

.btn-dark {
	background-color: rgb(23, 73, 121);
	color: rgb(255, 255, 255);
}

.btn-light {
	background-color: rgb(255, 255, 255);
	color: rgb(23, 73, 121);
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}