.home-section {
	padding: 50px 0;
}

.reverse-row {
	flex-direction: row-reverse;
}

.section-title {
	text-transform: uppercase;
}

.section-picture img{
	max-height: 340px;
	padding: 20px;
}

.section-border {
	height: 250px;
	background-size: contain;
	background-repeat: repeat-x;
	z-index: 10;
}

.section-picture {
	text-align: center;
}

.white {
	background-color: rgba(255, 255, 255, 1);
    color: rgb(23, 73, 121);
	z-index: -1;
}

.section-border-green {
	background-image: url(../img/fractal/green.png);
}

.green {
	background-color: rgba(90, 226, 184, 1);
	color: rgb(255, 255, 255);
	z-index: -1;
}

.green-btn {
	background-color: rgb(255, 255, 255);
	color: rgba(90, 226, 184, 1);
}

.section-border-yellow {
	background-image: url(../img/fractal/yellow.png);
}

.yellow {
	background-color: rgba(246, 249, 187, 1);
	color: rgb(23, 73, 121);
	z-index: -1;
}

.section-border-orange {
	background-image: url(../img/fractal/orange.png);
}

.orange {
	background-color: rgba(255, 113, 80, 1);
	color: rgb(255, 255, 255);
	z-index: -1;
}

.section-border-white {
	background-image: url(../img/fractal/white.png);
}


/*FORM*/
.textarea-field {
	height: 150px;
}

form .btn {
	margin: 10px 0;
}

form div {
	margin:	10px 0;
}


/*green  rgba(90, 226, 184, 1)
blue   rgba(23, 73, 121, 1)
yellow rgba(246, 249, 187, 1)
red    rgba(255, 113, 80, 1)*/


/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
	.section-border {
		height: 65px;
	}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
	.section-border {
		height: 100px;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
	.section-border {
		height: 150px;
	}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
	.section-border {
		height: 200px;
	}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.section-border {
		height: 250px;
	}
}