footer {
	padding-top: 30px;
	background-color: rgba(23, 73, 121, 1);
	color: rgb(255, 255, 255);
	text-align: center;
}

footer a {
	font-weight: 900;
	color: white;
}

footer a:hover {
	color: white;
	font-style: italic;
	text-decoration: none;
}

.footer-section {
	padding: 20px 0;
}

.social-logo {
	max-width: 60px;
	margin: 10px 5px;
}