footer {
	padding: 30px;
	background-color: rgba(23, 73, 121, 1);
	color: rgb(255, 255, 255);
	text-align: center;
}

footer a {
	font-weight: 900;
	color: white;
}

footer a:hover {
	color: white;
	font-style: italic;
	text-decoration: none;
}

.footer-section div {
	padding: 20px;
}

.social-logo {
	max-width: 60px;
	margin: 10px 5px;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
	footer {
		padding: 0;
	}
}