{% load static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-W7C5N9');</script>
        <!-- End Google Tag Manager -->
        <!-- Block Head -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/wago.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/body.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/media.css' %}">


        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="container-fluid {% block body_class %}{% endblock %}">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W7C5N9" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <!-- Block header -->
        {% wagtailuserbar %}

        {% block header %}
            <header class="row">
                <nav class="col-12 navbar navbar-expand-md navbar-inverse">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="{% static 'img/logo-business-agile-6.2_blanc.png' %}" width="96" height="56" class="d-inline-block align-middle" alt="Business Agile">
                    </a>
                    <div class="collapse navbar-collapse justify-content-end" id="navbar">
                        <div class="nav navbar-nav">
                            <a class="nav-item nav-link active" href="#">Accueil <span class="sr-only">(current)</span></a>
                            <a class="nav-item nav-link" href="#elsa-section">Elsa</a>
                            <a class="nav-item nav-link" href="#itmngt-section">Hébergement-Infogérance</a>
                            <a class="nav-item nav-link" href="#dev-section">Développement</a>
                            <a class="nav-item nav-link" href="#">Blog</a>
                            <a class="nav-item nav-link" href="#contact-section">Contact</a>
                        </div>
                    </div>
                </nav>
            </header>
        {% endblock header %}
        
        {% block content %}
        {% endblock content %}
        
        {% block footer %}
            <!-- Block footer -->
            <footer class="row footer-section">
                <div class="text-md-left col-md">
                    <h2>Business Agile</h2>
                    <p>60, rue Chardon Lagache<br>
                    75016 PARIS
                    </p>
                    <p>Contactez nous au <a href="tel:0630164559">06.30.16.45.59.</a></p>
                </div>
                <div class="col-md">
                    <h2>Nos derniers articles</h2>
                    <strong>Seront bientôt ici!</strong>
                </div>
                <div class="text-md-right col-md">
                    <h2>Suivez nous sur</h2>
                    <a href="https://www.linkedin.com/company/businessagile"><img class="social-logo" src="{% static 'img/social/linkedin.svg' %}"></a>
                    <a href="https://github.com/BusinessAgile"><img class="social-logo" src="{% static 'img/social/github.svg' %}"></a>
                    <a href="https://twitter.com/Business_Agile"><img class="social-logo" src="{% static 'img/social/twitter.svg' %}"></a>
                </div>
                <div class="col-12">
                    <p class="footer-section">Handcrafted in Paris by <a href="https://businessagile.tech/">Business Agile Tech</a></p>
                </div>
            </footer>
        {% endblock footer %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/wago.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'popper.js/dist/popper.min.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
